
            <div class="catagory-list" data-aos="fade-up">
                <div class="circle">
                    <img style="width: 68px;" src="images/icon2.png" alt="">
                    <!-- <i class="fa fa-instagram"></i> -->
                </div>
                <div class="rectengular">
                    <div class="rectengular-content">
                        <h2>অ্যাটেন্ডেন্ট ও নার্স সার্ভিস</h2>
                        <p>আমাদের ভেরিফাইড ও অভিজ্ঞ এটেন্ডেন্ট ও নার্সেরা বয়স্ক সুস্থ ও অসুস্থ মানুষ কে বাসায় দেখাশুনা করবেন ও প্রয়োজনমাফিক ব্যাসিক চিকিৎসা সেবা দিবেন</p>
                        <!-- <p>We provide nurse and attendant for senior citizen and bedridden patients at home or hospital</p> -->
                    </div>
                    <button><a href="{{URL('/form')}}">Need One</a></button>
                </div>
            </div>


            <div class="catagory-list" data-aos="zoom-in">
                <div class="circle">
                    <img style="width: 68px;" src="images/icon3.png" alt="">
                </div>
                <div class="rectengular">
                    <div class="rectengular-content">
                        <h2>ব্যাবিসিটার / ন্যানি</h2>
                        <p>ক্লায়েন্টের বাসায় বিশ্বস্ত ও প্রশিক্ষিত ন্যানি দিয়ে বাচ্চা দেখাশোনা করা হয়</p>
                        <!-- <p>We provide tursted and trained nanny and babysitter for taking care of kids at home</p> -->
                    </div>
                    <button><a href="{{URL('/form')}}">Need One</a></button>
                </div>
            </div>


            <div class="catagory-list" data-aos="zoom-in">
                <div class="circle">
                    <img style="width: 68px;" src="images/icon4.png" alt="">
                </div>
                <div class="rectengular">
                    <div class="rectengular-content">
                        <h2>থেরাপি হোম সার্ভিস</h2>
                        <p>আমাদের অভিজ্ঞ ফিজিওথেরাপিস্ট , স্পিচ থেরাপিস্ট ও অকুপেশনাল দ্বারা বাসায় গিয়ে নিয়মিত থেরাপি দেওয়া হয়</p>
                        <!-- <p>We send Physiotherapist , Speech Therapist ans Occupational Therapist at patient's home</p> -->
                    </div>
                    <button><a href="{{URL('/form')}}">Need One</a></button>
                </div>
            </div>

            
            <div class="catagory-list" data-aos="zoom-in">
                <div class="circle">
                    <img style="width: 68px;" src="images/icon5.png" alt="">
                </div>
                <div class="rectengular">
                    <div class="rectengular-content">
                        <h2>স্পেশাল নার্সিং সার্ভিস</h2>
                        <p>আমাদের স্পেশাল নার্সিং সার্ভিসের কাজসমূহ হলো 
                            স্যালাইন লাগানো, 
                            ক্যাথেটার করা, 
                            ক্যানোলা করা,
                            সার্জিক্যাল ড্রেসিং ইত্যাদি</p>
                        <!-- <p>We provide tursted and trained nanny and babysitter for taking care of kids at home</p> -->
                    </div>
                    <button><a href="{{URL('/form')}}">Need One</a></button>
                </div>
            </div>